@charset "UTF-8";

@font-face { font-family: TheSans; src: url("/assets/fonts/VWAGTheSans-Regular.woff") format("woff"); }
@font-face { font-family: TheSansBold; src: url("/assets/fonts/VWAGTheSans-Bold.woff") format("woff"); }

body {
    background: #f0f0f0;
    margin: 0 auto;
    color: #6d6e71;
    font: 15px Roboto, Arial, sans-serif;
    padding: 0;
    width: 100%;
    height: auto;
}
fieldset {
    margin: 10px 10px -30px;
    border: none;
    width: auto;
    padding: 0;
}
.dropdown {
    background-image: url("../images/ic_arrow_down.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-color:#FFF;
    float: left;
    overflow: hidden;
}

select {
    background: transparent;
    padding: 5px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    height: 30px !important;
    border: 1px solid #CCC;
    width:100%;
}

dl, dt, dd {
    margin: 0;
    -webkit-margin-start: 0;
}

legend {
    font-size: 12px;
    color: #999;
}

.legends{
    margin:0 0 15px 0;
}

p {
    margin: 0;
}
.buttonset {
    margin-bottom: 10px;
    font-size: 13px !important;
}
#card_holder {
    width: 96%;
    margin: 0 0 20px 0;
}
#cards_div {
    width: 100%;
}
#brand_field{
    cursor:pointer;
    margin: 60px 0 17px 0;
}

#paymentForm {
    width: 100%;
}

#card_number {
    cursor:pointer;
    width: 61%;
    float: left;
    margin: 0 0 20px 0;
}

#card_secure_code {
    width: 30%;
    float: right;
    margin: 0 0 20px 0;
}

#currency_div {
    width: 30%;
}

#amount {
    width: 69%;
    float: right;
}

#expiryMonth_div {
    width: 49%;
    float: left;
    display: block;
    margin: 0 0 20px 0;
}

#expiryYear_div {
    width: 50%;
    float: right;
    display: block;
    margin: 0 0 20px 0;
}

.alert {
    color: #FF0000;
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
}

#submitBtn {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    border:thin #666;
    background-color:#474747;
    height:46px;
    color:#FFF;
}

#rememberCard_div{
    margin: 0 0 20px 0;
}

span{
    font-size:12px;
}

.shadow {
    border: 1px solid #CCC;
    height: 30px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.error input { border: 1px solid #FF0000; }

.error select { border: 1px solid #FF0000; }

.error span label { color: #FF0000; }

#loader {
    position: absolute;
    left: 38%;
    top: 30%;
    margin-left: 0px; /* -1 * image width / 2 */
    margin-top: 0px;  /* -1 * image height / 2 */
}

#blocker {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f0f0f0;
    display: none;
    z-index: 1000;
}

#blur {
    background: rgba(255,255,255,0.60);
    height: 100%;
    display: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: 10;
}
input[type=button], input[type=submit] { cursor: pointer; }
.error-border { border: solid 1px red; }
.error-border-color { border-color: red; }
#brand_field span { font-size: 15px; }


/* generated by WPFtool */
.alert { color: #FF0000; font-weight: bold; text-align: center; margin-bottom: 25px; }
#alert { color: #FF0000; font-weight: bold; text-align: center; margin-bottom: 25px; }
#paymentForm body { background: #ffffff; margin: 0 auto; color: #6d6e71; font: 13px Arial, sans-serif; padding: 0; width: 100%; height: auto; }
#paymentForm fieldset { border: none; width: auto; padding: 0; }
#paymentForm .dropdown-select { background-position: right center; background-repeat: no-repeat; background-size: 20px auto; background-color:#FFF; float: left; overflow: hidden; }
#paymentForm select { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); -webkit-border-radius: 2px; border-radius: 2px; border: 1px solid #CCC; height: 23px; width: 100%; }
#paymentForm dl, dt, dd { margin: 0; -webkit-margin-start: 0; }
#paymentForm legend { font-size: 12px; color: #999; }
#paymentForm .legends{ margin:0 0 15px 0; }
#paymentForm p { margin: 0; }
#paymentForm .buttonset { margin-bottom: 10px; font-size: 13px !important; }
#paymentForm input[type="text"] { float: left; margin: 0 0 15px 0; width: 250px; }
#paymentForm #cards_div { width: 100%; }
#paymentForm #brand_field { clear: both; margin: 30px 0 5px 0; position: relative; }
#paymentForm #brand_field img { margin: -2px 2% 0px 0px; width: 48px; }
#paymentForm #brand_field input { margin-bottom: 5px; position: relative; }
#paymentForm #brand_field :nth-child(2) { left: 0; }
#paymentForm #brand_field div { left: 154px; margin-bottom: 10px; position: relative; }
#paymentForm { border: solid 1px #e7e9eb; margin: 20px; padding: 20px; max-width: 490px; width: 100% }
#paymentForm #card_number { width: 250px; float: left; margin: 0 0 15px 0; }
#paymentForm #card_secure_code { width: 50px; float: left; }
#paymentForm #currency_div { width: 30%; }
#paymentForm #amount { width: 69%; float: right; }
#paymentForm #expiryMonth_div { width: 120px; float: left; display: block; margin: 0 0 15px 0; }
#paymentForm #expiryYear_div { width: 120px; float: left; display: block; margin: 0 0 15px 20px; }
#paymentForm .alert { color: #FF0000; font-weight: bold; text-align: center; margin-bottom: 25px; }
#paymentForm #cancelBtn, #paymentForm #submitBtn { width: 132px; display: block; -webkit-border-radius: 2px; border-radius: 2px; -webkit-appearance: none; border: thin #666; background-color: #f8b333; height: 25px; color: #474747; font-weight: bold; font-size: 11px; text-transform: uppercase; }
#paymentForm #cancelBtn { clear: both; float: left; }
#paymentForm #submitBtn { float: right; margin-right: 70px; }
#paymentForm #rememberCard_div { margin: 0 0 20px 0; }
#paymentForm span { font-size:12px; }
#paymentForm .shadow { border: 1px solid #CCC; height: 22px; -webkit-border-radius: 2px; border-radius: 2px; padding-left: 5px; padding-right: 5px; }
#paymentForm .error input { border: 1px solid #FF0000; }
#paymentForm .error select { border: 1px solid #FF0000; }
#paymentForm .error span label { color: #FF0000; }
#paymentForm .loader { position: absolute; left: 50%; top: 50%; margin-left: -16px; /* -1 * image width / 2 */ margin-top: -16px;  /* -1 * image height / 2 */ }
#paymentForm #blocker { top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; position: absolute; background-color: #f0f0f0; display: none; z-index: 1000; }
#paymentForm label { clear: both; color: #474747; display: block; float: left; margin-top: 6px; position: relative; width: 154px; }
#paymentForm #payment_information { color: #f16402; font-weight: bold; margin: 10px 0px; }
#paymentForm #amount_box { background-color: #E8E9EB; color: #474747; font-size: 15pt; font-weight: bold; margin: 10px 0px; padding: 10px; position: relative; }
#paymentForm #amount_box > span { color: #474747; font-size: 15pt; font-weight: bold; }
#paymentForm #amount_box div { left: 295px; position: absolute; top: 11px; }
#paymentForm #legal_notice { clear: both; color: #888888; font-size: 13px; line-height: 150%; padding: 20px 0px; }
#paymentForm #cashless_footer { position: relative; }
#paymentForm #cashless_footer div { font-size: 12px; position: absolute; right: 220px; top: 21px; }
#paymentForm #cashless_footer img { float: right; }
@media (max-width: 600px) {
    #paymentForm label { clear: both; float: none !important; margin-bottom: 4px !important;  }
    #paymentForm fieldset { width: 80%; }
    #paymentForm #amount_box { top: 10px; }
    #paymentForm #amount_box div { left: unset; right: 10px; }
    #paymentForm input[type="text"] { width: 100% !important;  margin-bottom: 10px !important; margin-left: 0 !important; padding: 0 !important; }
    #paymentForm select { margin-bottom: 10px !important; width: 100% !important; }
    #paymentForm #expiryMonth_div { margin: 0; width: 50%; }
    #paymentForm #expiryYear_div { width: 50%; margin: 0; }
    #paymentForm #cancelBtn { margin-left: 0; width: 50%; }
    #paymentForm #submitBtn { margin-right: 0; width: 50%; }
    #paymentForm #cashless_footer div { top: 5px; }
}

/* The styles for VFS */
#paymentForm { border: none; margin: 0; padding: 0; font-family: "TheSans","Verdana","Arial",sans serif;}
#paymentForm #payment_information { display: none; }
#paymentForm #amount_box { background-color: transparent; color: #004666; padding: 10px 0; font-size: 18px }
#paymentForm #amount_box div { top: 8px; }
#paymentForm #amount_box > span { color: #004666; font-size: 16px }
#paymentForm label { font-family: "TheSansBold","Verdana","Arial",sans serif; color: #4c5356 !important; font-size: 15px !important; }
#paymentForm input[type="text"] { border: 1px solid #b6b9ba !important; border-radius: 0 !important; color: #999999; font-size: 14px; height: 33px !important; margin: 0 0 15px; background-color: #fff !important; }
#paymentForm input[type="text"]:focus { border: 1px solid #000000 !important; }
#paymentForm #card_number, #paymentForm #card_holder { width: 260px; }
#paymentForm select { height: 33px; border-radius: 0 !important; color: #4c5356; font-size: 15px !important; }
#paymentForm #cancelBtn, #paymentForm #submitBtn { font-family: "TheSansBold","Verdana","Arial",sans serif; background-color: transparent; border: 1px solid #004666; border-radius: 0; color: #004666; display: block; font-size: 14px; font-weight: normal; letter-spacing: 0.5px; line-height: 1.42857; padding: 6px 12px; text-transform: uppercase; height: auto; margin-top: 10px; }
#paymentForm #submitBtn { margin-right: 83px; }
#paymentForm #legal_notice { color: #ff8000; }
#paymentForm #cashless_footer { display: none; }
@media (max-width: 600px) {
    #paymentForm #cancelBtn, #paymentForm #submitBtn { float: none; width: 100%; }
    #paymentForm #amount_box div { right: -10px; }
}
